[data-testid="image"] {min-height: 512px !important}
* #body>.col:nth-child(2){width:50%;max-width:89vw}
#generate{width: 100%}

#txtset{
    /* min-width: min(320px, 100%); */
    /* flex-grow: 1; */ 
    max-width: 530px !important;
}



input{-webkit-appearance: sliderthumb-horizontal;
    accent-color: darkseagreen;
}

img{
    display: block;
    vertical-align: middle;
    background-color: #1f2937;
}

.dark .dark\:bg-gray-900 {
    --tw-bg-opacity: 1;
    background-color: #1f2937;
}

.border-solid {
    border-style: groove;
}

#prompt_input input,
#prompt_input textarea {
    font-size: 1.2rem;
    line-height: 1.6rem;
}

#prompt_row input,
#prompt_row textarea {
    font-size: 1.2rem;
    line-height: 1.6rem;
}

[data-testid="image"] {
    min-height: 751px !important;

}

#img2img_mask_btn, #img2img_edit_btn {
    align-self: stretch;
    max-width: 50px;
    max-height: 69px;
}
 
#prompt_row{height:150%}

.gr-text-input:disabled {
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    color: darkgray;
}

.xl\:min-h-\[450px\] {
    min-height: 754px !important;
  }
  
::before,
::after {
  box-sizing: border-box; /* 1 */
  border-width: 0; /* 2 */
  border-style: none; /* 2 */
  border-color: #e5e7eb; /* 2 */
}

@media (min-width: 1536px)
.\32xl\:max-h-\[20rem\] {
    max-height: 40rem;
}

.gallery-item.svelte-1g9btlg.svelte-1g9btlg{position:relative;aspect-ratio:1 / 0 !important;
height:89%;
width:78%;
overflow:hidden;
border-radius:0.50rem !important;
--tw-bg-opacity:1;
background-color:rgb(243 244 246 / var(--tw-bg-opacity));
object-fit:fill;
--tw-shadow:0 1px 2px 0 rgb(0 0 0 / 0.05);
--tw-shadow-colored:0 1px 2px 0 var(--tw-shadow-color);
box-shadow:var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
outline:0px solid transparent;outline-offset:0px !important;
--tw-ring-offset-shadow:var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
--tw-ring-shadow:var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
box-shadow:var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
--tw-ring-opacity:1;
--tw-ring-color:rgb(229 231 235 / var(--tw-ring-opacity))

}

.grid {
    display: grid;
    justify-items: center;
}

.h-\[calc\(100\%-50px\)\] {
    height: calc(96% - 50px);
}

.pt-6 {
    padding-top: 2.5rem;
}

.my-4 {
    margin-top: -0.8rem;
    margin-bottom: 1rem;
}

.gr-button-lg {
    border-radius: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 60;
	
}



.container {
    max-width: 1903px;
}

* #body>.col:nth-child(2) {
    width: 35%;
    max-width: 89vw;
}


